
.switcher {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap;

  li + li {
    margin-left: 10px;

    &::before {
      margin-right: 10px;
      content: '/';
    }
  }
}
